@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --secondary: #f1f5f9;
  --foreground: #f9f9f9;
  --main: #4b556c;
  --muted: #999999;
  --primary: #30b96e;
  --primary-2: #217848;
  --line: #f1f5f9;
}

.dark {
  --background: #050810;
  --foreground: #21242c;
  --main: #fefefe;
  --secondary: #12151c;
  --muted: #999999;
  --line: #2a2e35;
  --primary: #13af5a;
  --primary-2: #217848;
}

@theme inline {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-instrument: "Instrument Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
  --color-primary-2: var(--primary-2);
}

*{
  @apply outline-none
}

body {
 @apply bg-background text-main font-sans;
}
.f{
  color: #217848;
}

.main {
  @apply max-w-[90%] 2xl:max-w-[1280px] mx-auto;
}

.layout {
  @apply max-w-[90%] md:max-w-[800px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

button,
.btn {
  @apply cursor-pointer flex items-center justify-center gap-2 disabled:opacity-50;
}

.btn-primary {
  @apply text-white bg-primary font-semibold;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

